.form {
  width: 40rem;
  margin: 2rem auto;
  
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
  margin-left: 15px;
  
}

.form input {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: #f7f5ef;
  border: none;
  border-bottom: 2px solid #494844;
  margin-bottom: 0.5rem;
  margin-left: 15px;

}

.form button{
  margin-left: 15px;
}

@media only screen and (max-width: 1400px) {
  .form input {
    width: 70%;
  }
}

@media only screen and (max-width: 1200px) {
  .form input {
    width: 50%;
  }
}

@media only screen and (max-width: 992px) {
  .form input {
    width: 40%;
  }
}

@media only screen and (max-width: 576px) {
  .form input {
    width: 30%;
  }
}

@media only screen and (max-width: 481px) {
  .form input {
    width: 20%;
  }
}

.form button {
  font: inherit;
  background-color: #ebb002;
  border: 1px solid #ebb002;
  color: #201d0f;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover,
.form button:active {
  background-color: #ebc002;
  border-color: #ebc002;
}