.todos {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  width: 40rem;
}

.todos button {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  border-radius: 10px;
  background: rgb(26, 25, 25);
  background: linear-gradient(0deg, rgb(119, 29, 20) 0%, rgb(177, 53, 0) 100%);
  margin-left: 10px;
  color: white;
}
.todos button:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.todos button:before,
.todos button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.todos button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.todos button:hover:before,
.todos button:hover:after{
  width:100%;
  transition:800ms ease all;
}
